:root {
    /* primary colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* neutral colors */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--very-light-gray);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white);
    font-size: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    margin: 30px 0;
}

p {
    margin-bottom: 100px;
}

button {
    height: 45px;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--very-light-gray);
    border: solid 2px var(--very-light-gray);
}

.card {
    width: 300px;
    height: 500px;
    padding: 50px;
}

.card:nth-child(1) {
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card:nth-child(1) button {
    background-color: var(--bright-orange);
}

.card:nth-child(2) button {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) button {
    background-color: var(--very-dark-cyan);
}

.card button:hover {
    background-color: var(--very-light-gray);
}

.card:nth-child(1) button:hover {
    color: var(--bright-orange);
}

.card:nth-child(2) button:hover {
    color: var(--dark-cyan);
}

.card:nth-child(3) button:hover {
    color: var(--very-dark-cyan);
}
.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: -10vh;
    color: black;
  }